<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cookbook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <strong><%= link_to "Cookbook", root_path %></strong>
      <% if user_signed_in? %>
        <%= link_to "My Recipes", saved_recipes_path %>
        <%= link_to "New Recipe", new_recipe_path %>
        <%= link_to current_user.username, user_path(current_user) %>
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </nav>

    <% if notice.present? %>
      <p style="color: green"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p style="color: red"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
